* {
  font-family: Lato;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  background-color: #EEEEEE;
}

/* Navbar */
header {
  top: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: #e5e5ee;
  box-shadow: 0 2px 5px rgba(14, 10, 24, 0.1);
  z-index: 1;
}

.navigation {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.navlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.home {
  font-size: 1.7rem;
  color: #3B1E54;
  text-decoration: none;
}

.navlink {
  font-size: 1.2rem;
  color: #1b1621;
  text-decoration: none;
}

.navlink:hover {
  color: #3b11df;
}

section {
  display: block;
  padding: 30px;
  height: 100vh;
  scroll-margin-top: 67.5px; /* use inspect to see high of nav*/
}

/* Hero Section */
#hero {
  display: flex;
  padding-top: 100px;
  background: linear-gradient(120deg, #c1c2de, #ffffff);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero-content {
  max-width: 50%;
  padding-left: 30px;
}

.hero-content h1{
  font-size: 3rem;
  color: #3B1E54;
}

.hero-content h2 {
  font-size: 1.5rem;
  color: #6C567B;
}

.hero-content p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.5;
  margin: 20px 0;
}

.button {
  display: inline-block;
  margin-top: 20px;
  border: 2px solid #3B1E54;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #6C567B;
  background-color: #EEEEEE;
  
}

.button:hover {
  color: #EEEEEE;
  background-color: #3B1E54;
  border: 2px solid #000000;
  box-shadow: 5px 5px 5px rgba(14, 10, 24, 0.1);
}

.button:focus {
  box-shadow: 0 0 5px 2px #3B1E54;
}

.hero-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-picture img {
  border-radius: 50%;
  width: 80%;
}

@media (max-width: 600px) {
  .hero-content h1{
    font-size: 2.5rem;
  }
  
  .hero-content h2 {
    font-size: 1.25rem;
  }
  
  .hero-content p {
    font-size: 0.8rem;
  }

  .hero-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .hero-content {
      max-width: 100%;
      padding: 0;
  }

  .hero-picture img {
      width: 50%;
  }
}

/* Project Section */

#projects {
  padding: 50px;
  background: linear-gradient(-80deg, #3c5c94, #9b8ec5);
}

.projects-container {
  text-align: center;
}

.project-container h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #3B1E54;
  margin-bottom: 50px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.work-item {
  background-color: #EEEEEE;
  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 10px 5px rgba(14, 10, 24, 0.2);
  transition: transform 0.25s ease-in-out;
}

.work-item:hover {
  transform: translateY(-8px);
}

.work-title {
  padding: 15px;
  text-align: center;
}

.work-title h3 {
  font-size: 1.5rem;
  color: #3B1E54;
  margin-bottom: 10px;
}

.work-title p {
  font-size: 1rem;
  color: #554e5e;
}

.work-item img {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* height: 350px; */
  object-fit: cover;
} 

#apy {
  object-position: left center;
}

/* @media (max-width: 600px) {
  .work-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px; /* Add breathing room */
  }


  .work-title h3 {
    font-size: 1.2rem;
  }

  .work-title p {
      font-size: 0.9rem;
  }
} */

footer {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d6d5f2;
}

/* .project-video {
  width: 100%;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
  object-position: left center;
} */

@media screen and (max-width: 1024px) {
  .work-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 950px) {
  .work-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
  }

}


@media screen and (max-width: 650px) {
  /* .work-grid { */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    padding: 10px; */
  /* } */
  .work-title h3 {
    font-size: 1.2rem;
  }

  .work-title p {
      font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {

  /* .work-grid {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 15px;
    padding: 10px;
  } */
  
  /* check out mobile responsiveness */

}